@model SmartFoodRestaurantSystem.Models.Customer

@{
    ViewData["Title"] = "Create";
}
<style>
    #for {
        margin-left: 50%;
        margin-bottom: 200px;
    }
</style>

<h3 class="h3 ml-3 mb-0 text-gray-800 mt-2">Welcome</h3>

<h4 class="h3 ml-3 mb-0 text-gray-800">Dear Customer!</h4>
<hr />

<div class="row">
    <div class="col-md-7">
        <form id="for" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required/>
                <span asp-validation-for="Name" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label class="control-label">Phone Number</label>
                <input asp-for="CustomerId" class="form-control" required/>

            </div>
            <div class="form-group">
                <input style="float:right" type="submit" value="Enter" asp-action="Create" asp-controller="Orders" class="btn btn-success" />

            </div>




        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
