@model SmartFoodRestaurantSystem.Models.User

@{
    ViewData["Title"] = "Details";
}
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
               
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <h6><b>UserName:</b></h6>
                        <p> @Html.DisplayFor(model => model.Name)</p>
                        <div class="row">
                            <div class="col-md-6">
                                <h6><b>Password</b></h6>
                                <p>
                                    @Html.DisplayFor(model => model.Password)
                                </p>
                                <h6><b>Role</b></h6>
                                <p>
                                    @Html.DisplayFor(model => model.Role)
                                </p>
                                <h6><b>Hobbies</b></h6>
                                <p>
                                    Indie music, skiing and hiking. I love the great outdoors.
                                </p>
                            </div>
                          
                        
                        </div>
                        <!--/row-->
                    </div>

                   
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                <h6 class="mt-2">Photo</h6>
               
            </div>
        </div>
    </div>
